# .env
SPOTIFY_CLIENT_ID=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Only uncomment/set these if `fbset -fb /dev/fb1` on your Pi shows
# something other than 480x320
# SCREEN_WIDTH=480
# SCREEN_HEIGHT=320